html{
    overflow-x: hidden;
}
body {
 font-family: 'Almarai', sans-serif;
    direction: rtl;
    text-align: right;
    overflow-x: hidden;
}
.slider-area{
    direction: ltr;
}
.main-menu ul li {
    display: inline-block;
    margin-right: 25px;
    position: relative;
    margin-left: 0;
    float: right;
}