body {
    /*  font-family: "Rubik", sans-serif;*/
    font-family: 'Cairo', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #748188;
    direction: rtl;
    text-align: right;
}


.slider-area{
    direction: ltr;
}


.main-menu nav>ul>li
{
    margin-right: 25px;
    margin-left: 0;
}

.f-right {
    float: left;
}
.header-top-right{
    
}
.header-icon {
    margin-left: 24px;
    margin-right: 0;
}
.main-menu nav>ul>li .sub-menu{
    right: 0;
    left: auto;
}

.main-menu nav>ul>li .sub-menu li a{
    text-align: right;
}
.header-lang {
    margin-left: 15px;
    margin-right: 0;
}




















































































